VITE_API_URL=http://localhost:8000/api/v1
VITE_WS_URL=http://localhost:8000
VITE_APP_NAME=MPPR tizimi
VITE_APP_ENV=development
VITE_YANDEX_MAPS_API_KEY=
VITE_ONLYOFFICE_SERVER_URL=http://localhost:8080
