NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

DATABASE_URL=postgresql://user:password@localhost:5432/ppr_db?schema=public&options=-c%20client_encoding%3DUTF8

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=your-access-secret-change-in-production
JWT_REFRESH_SECRET=your-refresh-secret-change-in-production
JWT_ACCESS_EXPIRES=365d
JWT_REFRESH_EXPIRES=365d

CORS_ORIGIN=http://localhost:5173

# Socket.io
WS_PATH=/socket.io

# Throttler
THROTTLE_TTL=60000
THROTTLE_LIMIT=500
